 @import url("reset.scss");


$color:#D6E0F7;
$h1:52*.7px;
$h2:40*.7px;
$h4:30*.7px;
$p:30*.7px;
$letter-spacing:2.5;



.wrapper{
    background-image: url(./realistic-vintage-papers/25431.jpg);
    background-size: cover;
    width: 100%;
    height: 1080px;
    opacity: .4;

        .wrapper_inner{
            background-color: azure;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
            width:95%;
            height:80%;
            margin: 0 auto;
            padding-top: 200px;
            border-radius: 10px;
            // opacity: .7;
            
        }
}
